/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-211 {
    padding: var(--sectionPadding);
  }
  #reviews-211 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet*/
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #reviews-211 .cs-picture {
    width: 100%;
    /* 200px - 304px */
    height: clamp(12.5rem, 23.45vw, 19rem);
    display: block;
    position: relative;
  }
  #reviews-211 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #reviews-211 .cs-card {
    max-width: 39.375rem;
    order: 1;
  }
  #reviews-211 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    /* Padding top & bottom 40px - 80px */
    /* Padding left & right 32px - 72px */
    padding: clamp(2.5rem, 5.8vw, 5rem) clamp(2rem, 5.8vw, 4.5rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }

  #reviews-211 .cs-title,
  #reviews-211 .cs-topper {
    color: var(--bodyTextColorWhite);
  }
  #reviews-211 .cs-text {
    color: var(--bodyTextColorWhite);
    margin-bottom: 1rem;
  }
  #reviews-211 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }

  #reviews-211 .cs-review {
    /* padding left & right 32px - 80px */
    padding: 2.5rem clamp(2rem, 6vw, 5rem);
    box-shadow: -1px 21px 39px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #reviews-211 .cs-review-img {
    width: 7rem;
    height: 1.25rem;
    display: block;
    /* margin-bottom 8px - 12px */
    margin: 0 auto clamp(0.5rem, 2vw, 0.75rem);
  }
  #reviews-211 .cs-review-title {
    /* 25px - 31px */
    font-size: clamp(1.5625rem, 3.1vw, 1.9375rem);
    line-height: 1.2em;
    text-align: center;
    font-weight: bold;
    /* margin-bottom 24px - 32px */
    margin: 0 auto clamp(1.5rem, 4.2vw, 2rem);
    color: var(--headerColor);
    display: block;
  }
  #reviews-211 .cs-review-p {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.5em;
    text-align: center;
    max-width: 27.125rem;
    /* margin-bottom 24px - 32px */
    margin: 0 auto clamp(1.5rem, 4.2vw, 2rem);
    color: var(--bodyTextColor);
  }
  #reviews-211 .cs-review-name {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.5em;
    text-align: center;
    margin: 0;
    display: block;
    color: var(--headerColor);
    font-weight: 700;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-211 .cs-container {
    max-width: 80rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    box-shadow: -1px 21px 39px 0px rgba(0, 0, 0, 0.06);
    flex-direction: row;
  }
  #reviews-211 .cs-card {
    /* prevents it from being squished by flexbox */
    flex: none;
    width: 44.8vw;
  }
  #reviews-211 .cs-review {
    box-shadow: none;
    width: 50%;
    order: 1;
  }
}
