---
import Layout from "../layouts/Layout.astro"
import "../styles/oferta.css";
---

<Layout title="Oferta" description="Oferta">
  <section id="services-1301">
    <div class="cs-container">
      <div class="cs-content">
        <div class="cs-flex-group">
          <span class="cs-topper">Our Services</span>
          <h2 class="cs-title">Professional Tax & Accounting Services</h2>
        </div>
        <p class="cs-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
          officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco
          est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
          mollit.
        </p>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <a href="" class="cs-link">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/brain.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="40"
              height="40"
              aria-hidden="true"
            />
            <h3 class="cs-h3">Bus blaszak</h3>
            <ul class="cs-item-text">
              <li>Wymiary: 20 x 20 x 20 cm</li>
              <li>Ładowność: 10 kg</li>
            </ul>
          </a>
        </li>
        <li class="cs-item">
          <a href="" class="cs-link">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/users.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="40"
              height="40"
              aria-hidden="true"
            />
            <h3 class="cs-h3">Bus firanka</h3>
            <ul class="cs-item-text">
              <li>Wymiary: 20 x 20 x 20 cm</li>
              <li>Ładowność: 10 kg</li>
            </ul>
          </a>
        </li>
        <li class="cs-item">
          <a href="" class="cs-link">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Layer.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="40"
              height="40"
              aria-hidden="true"
            />
            <h3 class="cs-h3">Solówka kontener</h3>
            <ul class="cs-item-text">
              <li>Wymiary: 20 x 20 x 20 cm</li>
              <li>Ładowność: 10 kg</li>
            </ul>
          </a>
        </li>
        <li class="cs-item">
          <a href="" class="cs-link">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Layer.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="40"
              height="40"
              aria-hidden="true"
            />
            <h3 class="cs-h3">Solówka firanka</h3>
            <ul class="cs-item-text">
              <li>Wymiary: 20 x 20 x 20 cm</li>
              <li>Ładowność: 10 kg</li>
            </ul>
          </a>
        </li>
        <li class="cs-item">
          <a href="" class="cs-link">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Layer.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="40"
              height="40"
              aria-hidden="true"
            />
            <h3 class="cs-h3">Tandem (zestaw)</h3>
            <ul class="cs-item-text">
              <li>Wymiary: 20 x 20 x 20 cm</li>
              <li>Ładowność: 10 kg</li>
            </ul>
          </a>
        </li>
      </ul>
    </div>
  </section>
</Layout>
