/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-516 {
    padding: var(--sectionPadding);
    background: #fafbfc;
  }
  #sbsr-516 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 60px */
    gap: clamp(3rem, 10vw, 3.75rem);
  }
  #sbsr-516 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }

  #sbsr-516 .cs-color {
    color: var(--primary);
  }
  #sbsr-516 .cs-text {
    margin-bottom: 1rem;
    color: var(--bodyTextColor);
  }
  #sbsr-516 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-516 .cs-ul {
    width: 80%;
    /* 32px - 36px */
    margin: 0 0 clamp(2rem, 4vw, 2.25rem) 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 24px - 32px */
    row-gap: clamp(1.5rem, 4vw, 2rem);
  }
  #sbsr-516 .cs-li {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    list-style: none;
    line-height: 1.5em;
    font-weight: 700;
    margin: 0;
    /* color: var(--bodyTextColorWhite); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
  .cs-button-group {
    display: flex;
    gap: 1rem;
  }
  #sbsr-516 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbsr-516 .cs-button-solid:nth-child(2) {
    background-color: var(--secondary);
  }
  #sbsr-516 .cs-button-solid:nth-child(2):before {
    background: var(--primary);
  }
  #sbsr-516 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: var(--secondary);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbsr-516 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbsr-516 .cs-image-group {
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* 40px - 48px */
    row-gap: clamp(2.5rem, 6vw, 3rem);
    /* sends it to the top in the first position */
    order: -1;
  }

  #sbsr-516 .cs-stat-group {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
  #sbsr-516 .cs-stat {
    list-style: none;
    max-width: 14.375rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #sbsr-516 .cs-number {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    line-height: 1.2em;
    font-weight: 900;
    color: var(--primary);
  }
  #sbsr-516 .cs-desc {
    font-size: clamp(0.875rem, 1rem, 1.25rem);
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
    /* color: var(--bodyTextColorWhite); */
  }
  #sbsr-516 .cs-picture {
    width: 100%;
    /* 244px - 339px, changes clamp at tablet */
    height: clamp(14rem, 62vw, 21.1875rem);
    display: block;
    position: relative;
    object-fit: cover;
  }
  #sbsr-516 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
  }
  #sbsr-516 .position {
    object-position: 50%;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: clamp(0.5rem, 1.5vw, 1.25rem);
  }
  .cs-picture-1 {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .cs-picture-2 {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
  }
  .cs-picture-3 {
    grid-column: span 4;
    grid-row: 2 / 3;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-516 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  #sbsr-516 .cs-content {
    width: 71%;
  }
  #sbsr-516 .cs-image-group {
    width: 68%;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #sbsr-516 .cs-stat-group {
    justify-content: flex-start;
    gap: 5rem;
  }
  #sbsr-516 .cs-picture {
    /* 340px - 461px */
    height: clamp(21.25rem, 35vw, 28.8125rem);
  }
}
